In [1]:
import pandas as pd
df = pd.read_csv("banco_de_imoveis.csv")

In [3]:
df.head()

,id,url,header,address,area,rooms,bathrooms,garages,amenities,price,condo,crawler,crawled_at
0,2472650173,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 64m²","Avenida Portugal, 401 - Brooklin, São Paulo - SP",64,2 Quartos,2 Banheiros,1 Vaga,Elevador\nAr-condicionado\nPlayground\nMóvel p...,R$ 715.000,R$ 778,Brooklin,2021-03-11 01:57
1,https://www.vivareal.com.br/imoveis-lancamento...,https://www.vivareal.com.br/imoveis-lancamento...,Only Cidade Jardim,"Avenida Ulysses Reis de Mattos, 100 - Real Par...",186-252,3 Quartos,4 Banheiros,2-4 Vagas,NaN,A partir de\nR$ 2.429.620,NaN,Brooklin,2021-03-11 01:57
2,2463778941,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 83m²","Rua Nova York, 470 - Brooklin, São Paulo - SP",83,2 Quartos,3 Banheiros,2 Vagas,Piscina\nElevador\nCondomínio fechado\nEspaço ...,R$ 1.350.000,R$ 600,Brooklin,2021-03-11 01:57
3,2505723836,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 75m²","Avenida Portugal, 371 - Brooklin, São Paulo - SP",75,3 Quartos,2 Banheiros,1 Vaga,Academia\nCondomínio fechado,R$ 680.000,R$ 717,Brooklin,2021-03-11 01:57
4,2497648375,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com Quarto à Venda, 47m²","Rua Michigan - Brooklin, São Paulo - SP",47,1 Quarto,2 Banheiros,1 Vaga,Piscina\nVaranda gourmet\nMobiliado\nChurrasqu...,R$ 750.000,R$ 463,Brooklin,2021-03-11 01:57

# Objetivos
- Remover imóveis duplicados
- Remover propagandas
- Colunas numericas devem ter só um número

## Desafios
- Lidar com Amenities
- Extrair bairro do endereço

# Removendo duplicados

`df` -> dataframe que estamos trabalhando

`df.head()` -> mostra as 5 primeiras linhas do dataframe

`df.tail()` -> mostra as 5 ultimas linhas do dataframe

`df.columns` -> Lista todas as colunas do dataframe

`df.shape` -> Dimensões do dataframe (numero de linhas e colunas)

`df.duplicated()` -> Procura linhas com TODOS os valores duplicados

`df.duplicated(subset=["id"])` -> procura linhas onde so o ID esta duplicado

`df.drop_duplicates(keep="first")` -> mantém o primeiro da lista de duplicados. Outra opção seria o last.

`w.isnumeric()` -> onde w é uma string, retorna True se w for numérico ou False se não for

`df["NOMEDACOLUNA"].str.split(" ")` -> Separa as strings da coluna NOMEDACOLUNA string no espaco. Ex: "Um brinquedo"-> ["Um", "brinquedo"]

`df["NOMEDACOLUNA"].str.replace("a", "b")` -> Para todas as strings da coluna NOMEDACOLUNA, substitui a por b. Ex: "abacate" -> "bbbcbte"

`df.reset_index(drop=False)` -> Re-constroi o indice sem pular valores. Util sempre que fizer alguma operacao que remova linhas para evitar warnings

`df["NOMEDACOLUNA"].isnull()` -> Filtro para detectar null na coluna NOMEDACOLUNA

`df.dropna()` -> Remove linhas que tiverem nulls.

`df.dropna(subset=["NOMEDACOLUNA"])` -> Remove linhas que tiverem nulls na coluna NOMEDACOLUNA.

`df.fillna("ERRO")` -> Substitui valores null pelo valor "ERRO"

In [4]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
19435    False
19436    False
19437    False
19438    False
19439    False
Length: 19440, dtype: bool

In [5]:
sum(df.duplicated())

713

In [7]:
df_sem_duplicados = df.drop_duplicates(keep="first", subset=[coluna for coluna in df.columns if coluna!="crawled_at"]).reset_index(drop=True)

In [8]:
df_sem_duplicados[df_sem_duplicados["id"]=="1037345211"]

,id,url,header,address,area,rooms,bathrooms,garages,amenities,price,condo,crawler,crawled_at
11758,1037345211,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 66m²","Pinheiros, São Paulo - SP",66,2 Quartos,2 Banheiros,1 Vaga,NaN,R$ 858.000,R$ 528,Pinheiros,2021-03-11 03:45

## Remover propagandas

In [7]:
df_sem_duplicados

,id,url,header,address,area,rooms,bathrooms,garages,amenities,price,condo,crawler,crawled_at
0,2472650173,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 64m²","Avenida Portugal, 401 - Brooklin, São Paulo - SP",64,2 Quartos,2 Banheiros,1 Vaga,Elevador\nAr-condicionado\nPlayground\nMóvel p...,R$ 715.000,R$ 778,Brooklin,2021-03-11 01:57
1,https://www.vivareal.com.br/imoveis-lancamento...,https://www.vivareal.com.br/imoveis-lancamento...,Only Cidade Jardim,"Avenida Ulysses Reis de Mattos, 100 - Real Par...",186-252,3 Quartos,4 Banheiros,2-4 Vagas,NaN,A partir de\nR$ 2.429.620,NaN,Brooklin,2021-03-11 01:57
2,2463778941,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 83m²","Rua Nova York, 470 - Brooklin, São Paulo - SP",83,2 Quartos,3 Banheiros,2 Vagas,Piscina\nElevador\nCondomínio fechado\nEspaço ...,R$ 1.350.000,R$ 600,Brooklin,2021-03-11 01:57
3,2505723836,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 75m²","Avenida Portugal, 371 - Brooklin, São Paulo - SP",75,3 Quartos,2 Banheiros,1 Vaga,Academia\nCondomínio fechado,R$ 680.000,R$ 717,Brooklin,2021-03-11 01:57
4,2497648375,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com Quarto à Venda, 47m²","Rua Michigan - Brooklin, São Paulo - SP",47,1 Quarto,2 Banheiros,1 Vaga,Piscina\nVaranda gourmet\nMobiliado\nChurrasqu...,R$ 750.000,R$ 463,Brooklin,2021-03-11 01:57
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18209,2511444468,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 56m²","Rua Purus - Tucuruvi, São Paulo - SP",56,2 Quartos,1 Banheiro,1 Vaga,Playground\nSalão de festas\nSalão de jogos,R$ 359.000,NaN,Tucuruvi,2021-03-11 04:46
18210,2500619794,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 78m²","Rua Manuel Gaya, 945 - Tucuruvi, São Paulo - SP",78,3 Quartos,2 Banheiros,2 Vagas,Piscina\nVaranda gourmet\nChurrasqueira\nVaran...,R$ 670.000,R$ 650,Tucuruvi,2021-03-11 04:46
18211,2505112299,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 82m²","Avenida Coronel Sezefredo Fagundes - Tucuruvi,...",82,3 Quartos,2 Banheiros,1 Vaga,Aquecimento,R$ 675.000,R$ 650,Tucuruvi,2021-03-11 04:46
18212,2505098315,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 82m²","Avenida Coronel Sezefredo Fagundes - Tucuruvi,...",82,3 Quartos,2 Banheiros,1 Vaga,Aquecimento,R$ 675.000,R$ 650,Tucuruvi,2021-03-11 04:46
18213,2486035511,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 96m²","Avenida Mazzei, 530 - Tucuruvi, São Paulo - SP",96,2 Quartos,1 Banheiro,1 Vaga,Piscina\nMobiliado\nChurrasqueira\nAcademia\nE...,R$ 540.000,R$ 670,Tucuruvi,2021-03-11 04:46

In [11]:
# filtro_de_anuncios = [True if _id[:4]!="http" else False for _id in df_sem_duplicados["id"]]
filtro_de_anuncios = [_id.isnumeric() for _id in df_sem_duplicados["id"]]

In [12]:
df_sem_anuncios = df_sem_duplicados[filtro_de_anuncios].reset_index(drop=True)

In [13]:
df_sem_anuncios.shape

(15524, 13)

# Remover strings de campos numericos

In [14]:
set(df_sem_anuncios["rooms"])

{'-- Quarto', '1 Quarto', '2 Quartos', '3 Quartos', '4 Quartos', '5 Quartos'}

In [15]:
set(df_sem_anuncios["rooms"].str.split(" ").str[0].str.replace("--","0"))

{'0', '1', '2', '3', '4', '5'}

In [16]:
df_sem_anuncios["rooms_limpo"] = 0
df_sem_anuncios["rooms_limpo"] = (df_sem_anuncios["rooms"]
                                         .str.replace(" Quarto","")
                                         .str.replace("s","")
                                         .str.replace("--","0")
                                         .astype(int))

In [15]:
set(df_sem_anuncios["bathrooms"])

{'-- Banheiro',
 '1 Banheiro',
 '2 Banheiros',
 '3 Banheiros',
 '4 Banheiros',
 '5 Banheiros',
 '6 Banheiros',
 '7 Banheiros',
 '8 Banheiros'}

In [16]:
df_sem_anuncios["bathrooms_limpo"] = 0
df_sem_anuncios["bathrooms_limpo"] = (df_sem_anuncios["bathrooms"]
                                         .str.split(" ")
                                         .str[0]
                                         .str.replace("--","0")
                                         .astype(int))

In [17]:
set(df_sem_anuncios["garages"])

{'-- Vaga',
 '1 Vaga',
 '10 Vagas',
 '14 Vagas',
 '2 Vagas',
 '3 Vagas',
 '4 Vagas',
 '47 Vagas',
 '5 Vagas',
 '6 Vagas',
 '7 Vagas',
 '8 Vagas',
 '9 Vagas'}

In [18]:
df_sem_anuncios["garages_limpo"] = 0
df_sem_anuncios["garages_limpo"] = (df_sem_anuncios["garages"]
                                    .str.split(" ")
                                    .str[0]
                                    .str.replace("--","0")
                                    .astype(int))

In [23]:
set(df_sem_anuncios["garages_limpo"])

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 14, 47}

In [24]:
set(df_sem_anuncios["price"])

{'R$ 1.840.000',
 'R$ 334.999',
 'R$ 770.000',
 'R$ 826.700',
 'R$ 2.170.000',
 'R$ 3.500.000',
 'R$ 429.000',
 'R$ 2.550.000',
 'R$ 300.600',
 'R$ 1.158.000',
 'R$ 1.792.000',
 'R$ 555.600',
 'R$ 1.093.828',
 'R$ 213.500',
 'R$ 397.800',
 'R$ 1.248.000',
 'R$ 665.280',
 'R$ 1.065.000',
 'R$ 747.935',
 'R$ 1.356.000',
 'R$ 340.001',
 'R$ 649.999',
 'R$ 669.000',
 'R$ 2.694.000',
 'R$ 1.060.320',
 'R$ 462.800',
 'R$ 3.500.017',
 'R$ 465.500',
 'R$ 330.018',
 'R$ 976.000',
 'R$ 1.707.000',
 'R$ 666.250',
 'R$ 525.000',
 'R$ 570.651',
 'R$ 1.747.154',
 'R$ 599.000',
 'R$ 443.100',
 'R$ 490.879',
 'R$ 832.460',
 'R$ 1.830.000',
 'R$ 599.200',
 'R$ 722.000',
 'R$ 618.000',
 'R$ 1.193.345',
 'R$ 1.760.000',
 'R$ 715.700',
 'R$ 277.200',
 'R$ 353.000',
 'R$ 1.398.000',
 'R$ 489.901',
 'R$ 527.000',
 'R$ 379.220',
 'R$ 399.575',
 'R$ 1.680.026',
 'R$ 999.900',
 'R$ 1.197.000',
 'R$ 2.359.000',
 'R$ 1.228.000',
 'R$ 276.842',
 'R$ 269.919',
 'R$ 715.178',
 'R$ 647.777',
 'R$ 1.456.850',
 'R$ 1.272.258',
 'R$ 732.000',
 'R$ 1.094.000',
 'R$ 983.000',
 'R$ 917.600',
 'R$ 423.500',
 'R$ 1.718.000',
 'R$ 671.200',
 'R$ 994.000',
 'R$ 2.760.000',
 'R$ 1.206.000',
 'R$ 1.485.000',
 'R$ 682.000',
 'R$ 395.619',
 'R$ 400.000',
 'R$ 856.870',
 'R$ 623.499',
 'R$ 1.961.000',
 'R$ 588.000',
 'R$ 966.440',
 'R$ 463.600',
 'R$ 270.001',
 'R$ 770.500',
 'R$ 1.865.000',
 'R$ 1.050.755',
 'R$ 850.000',
 'R$ 1.221.000',
 'R$ 405.000',
 'R$ 573.375',
 'R$ 910.000',
 'R$ 417.000',
 'R$ 335.000',
 'R$ 1.156.900',
 'R$ 1.482.000',
 'R$ 477.200',
 'R$ 552.400',
 'R$ 6.000.000',
 'R$ 484.500',
 'R$ 415.000',
 'R$ 209.980',
 'R$ 334.600',
 'R$ 230.500',
 'R$ 1.005.255',
 'R$ 986.100',
 'R$ 449.815',
 'R$ 1.410.000',
 'R$ 1.118.900',
 'R$ 667.500',
 'R$ 2.948.000',
 'R$ 1.098.770',
 'R$ 658.000',
 'R$ 249.000',
 'R$ 715.600',
 'R$ 323.900',
 'R$ 710.648',
 'R$ 2.201.000',
 'R$ 976.600',
 'R$ 279.000',
 'R$ 1.272.000',
 'R$ 535.500',
 'R$ 284.000',
 'R$ 115.000',
 'R$ 643.000',
 'R$ 179.890',
 'R$ 369.125',
 'R$ 1.552.000',
 'R$ 1.137.014',
 'R$ 729.000',
 'R$ 429.999',
 'R$ 600.000',
 'R$ 479.900',
 'R$ 1.021.000',
 'R$ 1.079.000',
 'R$ 1.725.000',
 'R$ 1.218.000',
 'R$ 1.064.000',
 'R$ 753.000',
 'R$ 1.312.000',
 'R$ 1.890.000',
 'R$ 297.900',
 'R$ 718.960',
 'R$ 1.225.000',
 'R$ 233.700',
 'R$ 439.000',
 'R$ 503.520',
 'R$ 457.750',
 'R$ 492.099',
 'R$ 2.256.670',
 'R$ 361.000',
 'R$ 546.800',
 'R$ 140.000',
 'R$ 249.999',
 'R$ 697.480',
 'R$ 549.000',
 'R$ 3.400.000',
 'R$ 1.099.999',
 'R$ 676.000',
 'R$ 654.149',
 'R$ 234.000',
 'R$ 423.990',
 'R$ 440.500',
 'R$ 691.498',
 'R$ 1.078.000',
 'R$ 1.144.890',
 'R$ 456.003',
 'R$ 383.168',
 'R$ 544.000',
 'R$ 711.856',
 'R$ 314.000',
 'R$ 372.500',
 'R$ 658.900',
 'R$ 2.350.000',
 'R$ 1.305.000',
 'R$ 998.034',
 'R$ 9.700.000',
 'R$ 659.677',
 'R$ 349.500',
 'R$ 299.966',
 'R$ 478.675',
 'R$ 1.118.955',
 'R$ 409.059',
 'R$ 182.000',
 'R$ 663.909',
 'R$ 619.583',
 'R$ 840.890',
 'R$ 689.000',
 'R$ 390.000',
 'R$ 1.389.416',
 'R$ 279.500',
 'R$ 2.067.744',
 'R$ 169.900',
 'R$ 450.016',
 'R$ 422.000',
 'R$ 371.877',
 'R$ 212.000',
 'R$ 1.427.000',
 'R$ 449.000',
 'R$ 380.500',
 'R$ 365.457',
 'R$ 354.200',
 'R$ 324.600',
 'R$ 789.999',
 'R$ 480.800',
 'R$ 362.102',
 'R$ 508.800',
 'R$ 1.428.751',
 'R$ 447.000',
 'R$ 614.000',
 'R$ 1.669.900',
 'R$ 1.125.300',
 'R$ 461.963',
 'R$ 1.933.700',
 'R$ 1.690.881',
 'R$ 1.217.688',
 'R$ 1.599.000',
 'R$ 469.900',
 'R$ 995.000',
 'R$ 282.000',
 'R$ 8.590.000',
 'R$ 6.664.700',
 'R$ 490.083',
 'R$ 1.798.000',
 'R$ 164.899',
 'R$ 826.000',
 'R$ 360.500',
 'R$ 220.012',
 'R$ 445.000',
 'R$ 1.105.678',
 'R$ 718.000',
 'R$ 936.651',
 'R$ 1.000.000',
 'R$ 845.000',
 'R$ 639.950',
 'R$ 1.860.400',
 'R$ 374.999',
 'R$ 418.000',
 'R$ 448.800',
 'R$ 3.904.314',
 'R$ 916.000',
 'R$ 1.390.000',
 'R$ 803.000',
 'R$ 1.702.000',
 'R$ 420.240',
 'R$ 249.700',
 'R$ 900.010',
 'R$ 1.279.100',
 'R$ 4.750.000',
 'R$ 2.799.000',
 'R$ 1.384.000',
 'R$ 594.170',
 'R$ 488.900',
 'R$ 967.000',
 'R$ 399.000',
 'R$ 972.682',
 'R$ 342.289',
 'R$ 684.543',
 'R$ 475.319',
 'R$ 426.218',
 'R$ 1.090.000',
 'R$ 317.000',
 'R$ 935.695',
 'R$ 769.149',
 'R$ 386.136',
 'R$ 1.229.000',
 'R$ 723.000',
 'R$ 4.900.000',
 'R$ 289.999',
 'R$ 838.000',
 'R$ 212.900',
 'R$ 382.000',
 'R$ 576.160',
 'R$ 940.820',
 'R$ 660.000',
 'R$ 724.770',
 'R$ 259.900',
 'R$ 623.498',
 'R$ 150.000',
 'R$ 424.900',
 'R$ 433.566',
 'R$ 357.634',
 'R$ 430.000',
 'R$ 453.600',
 'R$ 1.287.000',
 'R$ 892.200',
 'R$ 1.324.000',
 'R$ 324.500',
 'R$ 419.900',
 'R$ 533.000',
 'R$ 844.319',
 'R$ 1.063.460',
 'R$ 826.842',
 'R$ 1.036.451',
 'R$ 343.000',
 'R$ 3.350.000',
 'R$ 564.979',
 'R$ 418.140',
 'R$ 1.473.000',
 'R$ 403.000',
 'R$ 354.930',
 'R$ 508.000',
 'R$ 956.447',
 'R$ 530.770',
 'R$ 1.050.000',
 'R$ 2.532.837',
 'R$ 902.000',
 'R$ 766.000',
 'R$ 230.000',
 'R$ 957.015',
 'R$ 164.800',
 'R$ 258.700',
 'R$ 185.000',
 'R$ 471.900',
 'R$ 812.000',
 'R$ 1.209.130',
 'R$ 409.900',
 'R$ 998.644',
 'R$ 383.000',
 'R$ 815.000',
 'R$ 350.000',
 'R$ 534.000',
 'R$ 346.080',
 'R$ 309.900',
 'R$ 607.000',
 'R$ 1.383.000',
 'R$ 570.000',
 'R$ 1.511.000',
 'R$ 787.000',
 'R$ 693.253',
 'R$ 628.900',
 'R$ 647.000',
 'R$ 1.311.132',
 'R$ 1.420.000',
 'R$ 367.820',
 'R$ 330.000',
 'R$ 1.319.000',
 'R$ 1.053.014',
 'R$ 550.400',
 'R$ 1.334.700',
 'R$ 243.310',
 'R$ 680.960',
 'R$ 1.680.000',
 'R$ 912.500',
 'R$ 1.011.189',
 'R$ 541.000',
 'R$ 498.300',
 'R$ 260.001',
 'R$ 245.300',
 'R$ 5.734.014',
 'R$ 408.700',
 'R$ 507.000',
 'R$ 490.020',
 'R$ 619.000',
 'R$ 1.332.000',
 'R$ 359.260',
 'R$ 1.053.000',
 'R$ 1.788.000',
 'R$ 2.470.040',
 'R$ 379.600',
 'R$ 1.788.950',
 'R$ 291.204',
 'R$ 457.200',
 'R$ 776.996',
 'R$ 1.499.800',
 'R$ 3.090.000',
 'R$ 1.754.000',
 'R$ 276.000',
 'R$ 215.900',
 'R$ 277.400',
 'R$ 696.000',
 'R$ 774.423',
 'R$ 1.127.899',
 'R$ 591.900',
 'R$ 1.172.447',
 'R$ 797.900',
 'R$ 1.335.000',
 'R$ 195.900',
 'R$ 168.095',
 'R$ 1.144.900',
 'R$ 650.000',
 'R$ 504.494',
 'R$ 468.000',
 'R$ 379.267',
 'R$ 316.000',
 'R$ 1.080.000',
 'R$ 1.145.000',
 'R$ 471.367',
 'R$ 756.672',
 'R$ 551.200',
 'R$ 223.500',
 'R$ 1.520.300',
 'R$ 2.685.000',
 'R$ 775.200',
 'R$ 950.855',
 'R$ 1.166.000',
 'R$ 1.254.532',
 'R$ 1.936.000',
 'R$ 1.020.314',
 'R$ 477.087',
 'R$ 1.329.187',
 'R$ 531.578',
 'R$ 1.252.000',
 'R$ 1.545.000',
 'R$ 423.898',
 'R$ 1.549.000',
 'R$ 712.000',
 'R$ 1.417.740',
 'R$ 1.395.000',
 'R$ 1.257.509',
 'R$ 519.154',
 'R$ 428.600',
 'R$ 369.999',
 'R$ 200.004',
 'R$ 299.000',
 'R$ 539.232',
 'R$ 900.000',
 'R$ 936.000',
 'R$ 846.940',
 'R$ 440.000',
 'R$ 219.900',
 'R$ 445.500',
 'R$ 1.077.000',
 'R$ 451.999',
 'R$ 254.000',
 'R$ 619.100',
 'R$ 364.800',
 'R$ 179.900',
 'R$ 1.200.004',
 'R$ 670.000',
 'R$ 1.630.000',
 'R$ 801.000',
 'R$ 458.260',
 'R$ 494.703',
 'R$ 471.601',
 'R$ 1.093.000',
 'R$ 364.178',
 'R$ 518.000',
 'R$ 449.900',
 'R$ 344.000',
 'R$ 989.100',
 'R$ 1.397.000',
 'R$ 998.599',
 'R$ 1.120.890',
 'R$ 420.023',
 'R$ 1.065.473',
 'R$ 678.400',
 'R$ 583.000',
 'R$ 1.069.036',
 'R$ 1.199.980',
 'R$ 1.017.600',
 'R$ 349.705',
 'R$ 1.073.100',
 'R$ 363.000',
 'R$ 838.909',
 'R$ 480.801',
 'R$ 2.250.000',
 'R$ 1.232.200',
 'R$ 1.564.000',
 'R$ 574.240',
 'R$ 859.300',
 'R$ 685.601',
 'R$ 2.990.000',
 'R$ 352.890',
 'R$ 1.690.000',
 'R$ 446.808',
 'R$ 1.437.000',
 'R$ 665.000',
 'R$ 372.000',
 'R$ 455.800',
 'R$ 785.000',
 'R$ 595.000',
 'R$ 783.200',
 'R$ 170.300',
 'R$ 759.000',
 'R$ 2.572.000',
 'R$ 1.695.000',
 'R$ 333.000',
 'R$ 306.139',
 'R$ 733.971',
 'R$ 4.790.000',
 'R$ 549.774',
 'R$ 298.700',
 'R$ 1.049.000',
 'R$ 343.217',
 'R$ 444.300',
 'R$ 254.900',
 'R$ 374.000',
 'R$ 452.000',
 'R$ 388.999',
 'R$ 1.397.390',
 'R$ 766.300',
 'R$ 2.470.020',
 'R$ 2.375.540',
 'R$ 589.000',
 'R$ 669.800',
 'R$ 418.015',
 'R$ 497.651',
 'R$ 749.000',
 'R$ 606.000',
 'R$ 249.900',
 'R$ 918.000',
 'R$ 499.300',
 'R$ 210.340',
 'R$ 1.915.000',
 'R$ 1.614.000',
 'R$ 988.000',
 'R$ 765.000',
 'R$ 745.000',
 'R$ 596.000',
 'R$ 267.900',
 'R$ 2.272.015',
 'R$ 530.278',
 'R$ 379.500',
 'R$ 466.850',
 'R$ 2.471.000',
 'R$ 824.096',
 'R$ 1.550.000',
 'R$ 474.606',
 'R$ 447.500',
 'R$ 598.000',
 'R$ 522.708',
 'R$ 736.607',
 'R$ 318.000',
 'R$ 5.905.000',
 'R$ 1.327.000',
 'R$ 492.000',
 'R$ 886.400',
 'R$ 380.001',
 'R$ 1.700.000',
 'R$ 386.500',
 'R$ 1.921.800',
 'R$ 1.155.000',
 'R$ 449.200',
 'R$ 365.000',
 'R$ 509.900',
 'R$ 3.150.000',
 'R$ 604.000',
 'R$ 272.300',
 'R$ 225.000',
 'R$ 562.829',
 'R$ 266.750',
 'R$ 1.497.000',
 'R$ 688.000',
 'R$ 1.109.678',
 'R$ 675.601',
 'R$ 655.580',
 'R$ 261.600',
 'R$ 1.389.000',
 'R$ 1.190.000',
 'R$ 1.185.000',
 'R$ 270.000',
 'R$ 494.281',
 'R$ 1.518.000',
 'R$ 879.000',
 'R$ 2.010.000',
 'R$ 1.836.900',
 'R$ 807.000',
 'R$ 914.160',
 'R$ 680.000',
 'R$ 453.100',
 'R$ 1.886.800',
 'R$ 494.000',
 'R$ 1.000.999',
 'R$ 1.890.010',
 'R$ 1.800.000',
 'R$ 265.000',
 'R$ 1.430.005',
 'R$ 955.000',
 'R$ 789.050',
 'R$ 1.105.000',
 'R$ 272.400',
 'R$ 1.828.000',
 'R$ 569.900',
 'R$ 848.000',
 'R$ 1.028.000',
 'R$ 439.999',
 'R$ 349.900',
 'R$ 1.113.000',
 'R$ 788.000',
 'R$ 9.392.000',
 'R$ 199.500',
 'R$ 1.382.250',
 'R$ 1.086.000',
 'R$ 1.070.001',
 'R$ 826.744',
 'R$ 620.000',
 'R$ 488.000',
 'R$ 1.056.000',
 'R$ 230.200',
 'R$ 161.900',
 'R$ 912.000',
 'R$ 1.214.770',
 'R$ 578.000',
 'R$ 1.331.000',
 'R$ 759.900',
 'R$ 802.000',
 'R$ 328.500',
 'R$ 630.000',
 'R$ 2.470.078',
 'R$ 2.475.000',
 'R$ 262.580',
 'R$ 392.800',
 'R$ 1.132.000',
 'R$ 1.615.000',
 'R$ 250.072',
 'R$ 439.900',
 'R$ 572.400',
 'R$ 975.600',
 'R$ 294.454',
 'R$ 409.150',
 'R$ 587.000',
 'R$ 1.371.000',
 'R$ 348.684',
 'R$ 552.800',
 'R$ 482.200',
 'R$ 175.999',
 'R$ 547.449',
 'R$ 7.320.049',
 'R$ 1.062.700',
 'R$ 779.100',
 'R$ 1.365.000',
 'R$ 458.000',
 'R$ 658.162',
 'R$ 390.139',
 'R$ 1.011.000',
 'R$ 1.054.079',
 'R$ 885.514',
 'R$ 294.000',
 'R$ 262.000',
 'R$ 438.000',
 'R$ 1.472.616',
 'R$ 551.000',
 'R$ 2.135.000',
 'R$ 731.000',
 'R$ 920.360',
 'R$ 461.271',
 'R$ 372.867',
 'R$ 275.000',
 'R$ 349.272',
 'R$ 418.600',
 'R$ 1.536.800',
 'R$ 608.000',
 'R$ 1.266.000',
 'R$ 229.300',
 'R$ 786.000',
 'R$ 455.390',
 'R$ 4.135.002',
 'R$ 435.000',
 'R$ 539.900',
 'R$ 957.000',
 'R$ 315.000',
 'R$ 1.340.000',
 'R$ 990.880',
 'R$ 452.195',
 'R$ 1.322.316',
 'R$ 2.270.000',
 'R$ 335.139',
 'R$ 960.000',
 'R$ 874.000',
 'R$ 624.000',
 'R$ 490.400',
 'R$ 973.900',
 'R$ 375.000',
 'R$ 783.000',
 'R$ 125.000',
 'R$ 586.000',
 'R$ 640.000',
 'R$ 1.088.954',
 'R$ 590.230',
 'R$ 948.770',
 'R$ 460.016',
 'R$ 1.001.000',
 'R$ 1.632.212',
 'R$ 359.900',
 'R$ 717.900',
 'R$ 710.134',
 'R$ 567.407',
 'R$ 266.000',
 'R$ 3.750.000',
 'R$ 1.069.000',
 'R$ 591.278',
 'R$ 524.700',
 'R$ 462.139',
 'R$ 1.626.000',
 'R$ 1.649.990',
 'R$ 1.122.014',
 'R$ 487.540',
 'R$ 1.417.000',
 'R$ 433.300',
 'R$ 166.000',
 'R$ 1.247.000',
 'R$ 1.240.000',
 'R$ 505.600',
 'R$ 286.000',
 'R$ 226.800',
 'R$ 309.700',
 'R$ 1.620.000',
 'R$ 465.900',
 'R$ 2.000.000',
 'R$ 2.160.400',
 'R$ 456.000',
 'R$ 2.934.250',
 'R$ 374.500',
 'R$ 782.990',
 'R$ 965.000',
 'R$ 698.000',
 'R$ 2.998.000',
 'R$ 428.900',
 'R$ 164.500',
 'R$ 3.300.000',
 'R$ 221.081',
 'R$ 805.000',
 'R$ 348.000',
 'R$ 352.800',
 'R$ 578.023',
 'R$ 846.320',
 'R$ 726.750',
 'R$ 2.239.583',
 'R$ 474.000',
 'R$ 442.000',
 'R$ 411.460',
 'R$ 545.000',
 'R$ 1.179.000',
 'R$ 306.000',
 'R$ 578.100',
 'R$ 351.471',
 'R$ 501.974',
 'R$ 462.200',
 'R$ 243.800',
 'R$ 4.500.000',
 'R$ 390.400',
 'R$ 698.990',
 'R$ 1.495.000',
 'R$ 472.499',
 'R$ 1.898.000',
 'R$ 204.790',
 'R$ 1.235.000',
 'R$ 1.295.000',
 'R$ 294.990',
 'R$ 3.052.214',
 'R$ 402.800',
 'R$ 1.030.003',
 'R$ 208.994',
 'R$ 568.000',
 'R$ 429.900',
 'R$ 175.420',
 'R$ 1.660.930',
 'R$ 366.100',
 'R$ 958.000',
 'R$ 1.995.000',
 'R$ 159.000',
 'R$ 507.553',
 'R$ 248.979',
 'R$ 2.452.561',
 'R$ 468.500',
 'R$ 450.950',
 'R$ 804.000',
 'R$ 1.108.990',
 'R$ 624.350',
 'R$ 527.300',
 'R$ 419.400',
 'R$ 1.059.000',
 'R$ 797.014',
 'R$ 461.400',
 'R$ 3.765.000',
 'R$ 656.034',
 'R$ 398.000',
 'R$ 1.687.000',
 'R$ 897.400',
 'R$ 364.816',
 'R$ 699.000',
 'R$ 3.600.000',
 'R$ 2.182.314',
 'R$ 350.100',
 'R$ 1.449.999',
 'R$ 852.140',
 'R$ 3.988.000',
 'R$ 938.600',
 'R$ 276.600',
 'R$ 252.000',
 'R$ 327.000',
 'R$ 1.010.000',
 'R$ 617.000',
 'R$ 2.320.000',
 'R$ 524.400',
 'R$ 2.700.110',
 'R$ 1.981.000',
 'R$ 307.000',
 'R$ 250.500',
 'R$ 2.296.399',
 'R$ 721.000',
 'R$ 2.440.000',
 'R$ 233.500',
 'R$ 566.100',
 'R$ 552.500',
 'R$ 1.740.000',
 'R$ 602.500',
 'R$ 331.139',
 'R$ 935.000',
 'R$ 238.000',
 'R$ 649.000',
 'R$ 359.500',
 'R$ 1.681.660',
 'R$ 756.009',
 'R$ 2.589.000',
 'R$ 213.909',
 'R$ 325.900',
 'R$ 750.000',
 'R$ 241.000',
 'R$ 355.100',
 'R$ 382.989',
 'R$ 569.200',
 'R$ 548.000',
 'R$ 809.367',
 'R$ 452.408',
 'R$ 379.000',
 'R$ 1.888.000',
 'R$ 3.200.000',
 'R$ 419.020',
 'R$ 775.390',
 'R$ 472.498',
 'R$ 894.000',
 'R$ 532.000',
 'R$ 554.400',
 'R$ 1.780.000',
 'R$ 399.900',
 'R$ 419.000',
 'R$ 1.575.000',
 'R$ 737.887',
 'R$ 230.300',
 'R$ 709.000',
 'R$ 719.500',
 'R$ 2.638.900',
 'R$ 569.909',
 'R$ 659.900',
 'R$ 215.100',
 'R$ 749.990',
 'R$ 391.300',
 'R$ 337.759',
 'R$ 2.065.000',
 'R$ 645.000',
 'R$ 480.750',
 'R$ 2.743.881',
 'R$ 2.297.000',
 'R$ 410.000',
 'R$ 1.089.000',
 'R$ 1.215.440',
 'R$ 248.900',
 'R$ 491.139',
 'R$ 318.340',
 'R$ 1.379.985',
 'R$ 998.012',
 'R$ 363.100',
 'R$ 334.900',
 'R$ 394.737',
 'R$ 2.149.000',
 'R$ 2.750.000',
 'R$ 175.750',
 'R$ 1.183.950',
 'R$ 161.200',
 'R$ 1.900.000',
 'R$ 1.034.000',
 'R$ 1.358.791',
 'R$ 370.342',
 'R$ 263.900',
 'R$ 1.328.000',
 'R$ 999.002',
 'R$ 366.000',
 'R$ 1.057.000',
 'R$ 2.472.029',
 'R$ 319.485',
 'R$ 244.003',
 'R$ 529.250',
 'R$ 2.688.000',
 'R$ 2.643.393',
 'R$ 385.500',
 'R$ 462.003',
 'R$ 1.153.000',
 'R$ 1.730.000',
 'R$ 1.968.085',
 'R$ 341.000',
 'R$ 1.660.000',
 'R$ 1.164.909',
 'R$ 1.540.601',
 'R$ 859.500',
 'R$ 1.037.561',
 'R$ 779.000',
 'R$ 974.849',
 'R$ 3.448.000',
 'R$ 232.000',
 'R$ 2.970.000',
 'R$ 994.210',
 'R$ 757.900',
 'R$ 500.000',
 'R$ 2.800.000',
 'R$ 319.300',
 'R$ 442.100',
 'R$ 614.800',
 'R$ 3.830.000',
 'R$ 369.990',
 'R$ 1.057.149',
 'R$ 449.896',
 'R$ 1.845.000',
 'R$ 1.041.000',
 'R$ 1.104.802',
 'R$ 410.001',
 'R$ 307.400',
 'R$ 515.900',
 'R$ 861.000',
 'R$ 1.058.000',
 'R$ 423.000',
 'R$ 461.700',
 'R$ 295.000',
 'R$ 933.000',
 'R$ 1.997.000',
 'R$ 492.039',
 'R$ 2.880.000',
 'R$ 474.700',
 'R$ 243.600',
 'R$ 1.296.000',
 'R$ 212.220',
 'R$ 763.000',
 'R$ 1.085.938',
 'R$ 398.816',
 'R$ 418.556',
 'R$ 498.000',
 'R$ 180.000',
 'R$ 942.900',
 'R$ 1.098.000',
 'R$ 1.286.000',
 'R$ 1.274.000',
 'R$ 199.990',
 'R$ 665.977',
 'R$ 249.500',
 'R$ 1.303.980',
 'R$ 1.802.762',
 'R$ 352.369',
 'R$ 593.600',
 'R$ 548.800',
 'R$ 360.000',
 'R$ 928.700',
 'R$ 406.400',
 'R$ 359.100',
 'R$ 1.429.290',
 'R$ 791.327',
 'R$ 9.793.000',
 'R$ 3.780.000',
 'R$ 2.723.726',
 'R$ 218.000',
 'R$ 1.011.331',
 'R$ 1.419.900',
 'R$ 163.900',
 'R$ 223.000',
 'R$ 554.000',
 'R$ 1.820.000',
 'R$ 211.000',
 'R$ 240.000',
 'R$ 593.000',
 'R$ 345.000',
 'R$ 2.198.000',
 'R$ 1.746.000',
 'R$ 869.999',
 'R$ 503.957',
 'R$ 689.785',
 'R$ 455.000',
 'R$ 1.254.000',
 'R$ 277.900',
 'R$ 553.000',
 'R$ 1.018.000',
 'R$ 838.940',
 'R$ 214.900',
 'R$ 2.820.000',
 'R$ 319.150',
 'R$ 1.067.600',
 'R$ 371.000',
 'R$ 592.000',
 'R$ 516.749',
 'R$ 374.445',
 'R$ 352.000',
 'R$ 649.700',
 'R$ 337.900',
 'R$ 493.078',
 'R$ 530.000',
 'R$ 800.000',
 'R$ 579.000',
 'R$ 1.525.000',
 'R$ 863.455',
 'R$ 999.200',
 'R$ 1.531.000',
 'R$ 560.000',
 'R$ 539.224',
 'R$ 2.260.000',
 'R$ 1.175.000',
 'R$ 560.500',
 'R$ 1.232.000',
 'R$ 2.700.000',
 'R$ 1.165.000',
 'R$ 419.500',
 ...}

In [19]:
df_sem_anuncios["price_limpo"] = [int(w.split("R$ ")[1].replace(".","")) for w in df_sem_anuncios["price"]]

In [20]:
df_sem_anuncios.loc[df_sem_anuncios["condo"].isnull(),"condo"] = 0

In [21]:
df_sem_anuncios["condo_limpo"] = [int(w.split("R$ ")[1].replace(".","")) if w!=0 else 0 for w in df_sem_anuncios["condo"]]